<script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="/bower_components/yo-text/yo-text.html">
<link rel="import" href="/bower_components/yo-link/yo-link.html">
<link rel="import" href="/bower_components/yo-image/yo-image.html">
<link rel="import" href="/bower_components/yo-editor/yo-editor.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">

<link rel="stylesheet" href="/bower_components/yotta-site-editor/dist/style.css">
<script src="/bower_components/yotta-site-editor/dist/bundle.js"></script>

<yo-text direction="bottom" disable-autotarget></yo-text>
<paper-dialog id="editor-dialog" with-backdrop scroll-action="lock">
    <h2 class="title"></h2>
    <paper-dialog-scrollable>
        <yo-editor vertical></yo-editor>
    </paper-dialog-scrollable>
    <div class="buttons">
        <paper-button dialog-dismiss>Cancelar</paper-button>
        <paper-button dialog-confirm autofocus raised>Confirmar</paper-button>
    </div>
</paper-dialog>
<paper-toast id="toast" ></paper-toast>