:root {
    --yotta-primary: #26A69A;
    --yotta-primary-opacity: rgba(38, 166, 154, .5);
}

paper-dialog {
    z-index: 99999;
    min-width: 50%;
    min-height: 300px;
}

yo-text {
    z-index: 999999;
}

.yo-editable:not([contenteditable]) * {
    pointer-events: none;
}

.yo-editable:not([contenteditable]) {
    cursor: pointer;
    box-shadow: 0 0 0 var(--yotta-primary);
    transition: all .3s ease-in-out;
}

.yo-editable:not([contenteditable]):hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px var(--yotta-primary-opacity);
    transition: all .3s ease-in-out;
}

.yo-editable[contenteditable] {
    outline: none;
    transform: scale(1);
    box-shadow: 0 0 0 var(--yotta-primary);
    transition: all .3s ease-in-out;
}

.yo-editable[contenteditable]:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.yo-editable[contenteditable]:focus {
    transform: scale(1.1);
    outline: solid 1px var(--yotta-primary-opacity);
    box-shadow: 0 0 .7em var(--yotta-primary-opacity);
    transition: box-shadow .3s ease-in-out;
}


/**
 * Sections Options
**/

.yo-section {
    position: relative;
    overflow: hidden;
    outline: 5px solid transparent;
    outline-offset: -30px;
    transition: 0.3s all ease;
}

.yo-section:hover,
.yo-section.hover {
    outline: 5px solid var(--yotta-primary-opacity);
    outline-offset: -5px;
    transition: 0.4s all ease;
}

.yo-section-tooltip {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0;
    z-index: 1;
}

.yo-section:hover > .yo-section-tooltip,
.yo-section.hover > .yo-section-tooltip {
    opacity: 1;
    transition: opacity 0s 0.3s  ease;
}

.yo-tooltip-text {
    display: inline-block;
    color: #000;
    background-color: var(--yotta-primary-opacity);
    padding: 5px 10px; 
}

/**

Not used for while

.yo-section-remove {
    display: inline-block;
    color: #000;
    background-color: #ccc;
    padding: 5px 10px; 
}

.yo-section-remove::after {
    content: "x";
    display: inline-block;
}

.yo-section-remove:hover {
    background-color: #f66;
}

.yo-section-remove:hover::after {
    animation: writeRemover 0.3s forwards;
}

.yo-section-excluded {
    transform: translateY(-100%);
    opacity: .3;
    z-index: -1;
    pointer-events: none;
    transition: all 0.4s ease;
}
*/